<!-- <nav class="navbar">
  <a href="#">NoteApp</a>
  <a href="#" onclick="navigateTo('/')">Inicio</a>
  <div class="dropdown">
    <button class="dropbtn">Mis notas 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#" onclick="navigateTo('createNote')">Crear nota</a>
      <a href="#">Ver notas</a>
    </div>
  </div> 
  <a href="#">Link para agregar otras funcionalidades</a>
  <div class="search-container">
    <input type="text" id="searchInput" placeholder="Buscar notas..." onkeyup="filterNotes()">
    <button type="submit">Buscar</button>
  </div>
</nav>  -->


 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NoteApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" onclick="navigateTo('')">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mis notas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" onclick="navigateTo('createNote')">Crear nota</a></li>
            <li><a class="dropdown-item" href="#">Ver notas</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link para agregrar otras funcionalidades</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>  
